
<div *ngIf="componentState==0" class="horizontal-center">
<h2>Welcome to RPGroup!</h2>
Register as a new user, Log in to your account, or browse as a guest!
<hr>
<form>
    <br>
    <mat-form-field color="primary">
        <mat-label *ngIf="emptyEmailLogIn" class="red">
            Enter an email
        </mat-label>
        <mat-label *ngIf="!emailIsCorrectLogIn" class="red">
            Incorrect email
        </mat-label>
        <mat-label *ngIf="emailIsCorrectLogIn && !emptyEmailLogIn" color="primary">
            Email
        </mat-label>
        <input type="email" matInput placeholder="" name="email" [(ngModel)]="emailEnteredLogIn"
        autocomplete="email">
    </mat-form-field>
    <br>
    <mat-form-field color="primary">
        <mat-label *ngIf="passwordIsCorrectLogIn && !emptyPasswordLogIn"
        color="primary">
           Password
       </mat-label>
       <mat-label *ngIf="!passwordIsCorrectLogIn" class="red">
           Incorrect password
       </mat-label>
       <mat-label *ngIf="emptyPasswordLogIn"
        class="red">
           Enter a password
       </mat-label>
        <input class="password" type="password" matInput placeholder="" name="password" 
        [(ngModel)]="passwordEnteredLogIn" autocomplete="none">
    </mat-form-field>
    <br>

    <button mat-flat-button color="accent" type="button" (click)="logIn(false)"> Log in </button> 
</form>
<br>
<mat-divider></mat-divider>
<br>
You don't have an account yet? Please register!
<br>
<br>
<button mat-flat-button color="accent" type="button" (click)="goToRegister()"> Register </button>  
</div>

<div *ngIf="componentState==2" class="horizontal-center">
    <h2>Failed to log in :c</h2>
    <hr>
    <h3>Something went wrong. Make sure you entered correct credentials and that your internet connection is stable.</h3>
    <mat-divider></mat-divider>
    <br>
    <button mat-flat-button color="accent" type="button" (click)="onReturnToHomeClicked()" >Return to home screen</button>
</div>

<!--Powinno raczej od razu przenieść do explore, ale nwm-->
<div *ngIf="componentState==3" class="horizontal-center">
    <h2>Logged in successfuly!</h2>
    <hr>
    <h3>You can now access extra features c:</h3>
    <mat-divider></mat-divider>
    <br>
    <button mat-flat-button color="accent" type="button" (click)="onReturnToHomeClicked()" >Return to home screen</button>
</div>

<div *ngIf="componentState==1">
    <div class="horizontal-center">
    <h2>Register</h2>
    <hr>
    <form>
        <mat-form-field color="primary">
            <mat-label *ngIf="inputErrors.passwordIsCorrect && !emptyPassword"
             color="primary">
                Password
            </mat-label>
            <mat-label *ngIf="!inputErrors.passwordIsCorrect" class="red">
                Password too weak
            </mat-label>
            <mat-label *ngIf="emptyPassword"
             class="red">
                Enter a password
            </mat-label>
            <input type="password" matInput placeholder="" name="passWord"
            [(ngModel)]="passwordEnteredRegister" autocomplete="none">
        </mat-form-field>
        <br>
        <mat-form-field color="primary">
            <mat-label *ngIf="!passwordsNotMatch" color="primary">Repeat Password</mat-label>
            <mat-label *ngIf="passwordsNotMatch" class="red">Passwords do not match</mat-label>
            <input type="password" matInput placeholder="" name="passWord"
            [(ngModel)]="repeatPasswordRegister" autocomplete="none">
        </mat-form-field>
        <br>
        <mat-form-field color="primary">
            <mat-label *ngIf="inputErrors.emailIsCorrect && inputErrors.emailIsUnique && !emptyEmail"
             color="primary">
                Email
            </mat-label>
            <mat-label *ngIf="!inputErrors.emailIsCorrect" class="red">
                Incorrect email
            </mat-label>
            <mat-label *ngIf="!inputErrors.emailIsUnique" class="red">
                Email is not unique
            </mat-label>
            <mat-label *ngIf="emptyEmail"
             class="red">
                Enter an email
            </mat-label>
            <input type="email" matInput placeholder="" name="email" [(ngModel)]="emailEnteredRegister"
            autocomplete="email">
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label *ngIf="inputErrors.userNameIsCorrect && !emptyUserName"
             color="primary">
                User name
            </mat-label>
            <mat-label *ngIf="!inputErrors.userNameIsCorrect" class="red">
                User name is not unique
            </mat-label>
            <mat-label *ngIf="emptyUserName"
             class="red">
                Enter a user name
            </mat-label>
            <mat-label *ngIf="tooLongUserName"
            class="red">
               Max. 15 characters
           </mat-label>
            <input type="text" matInput placeholder="" name="userName" [(ngModel)]="userNameEntered"
            autocomplete="off">
        </mat-form-field>
        <br>
        <mat-form-field color="primary" appearance="fill">
            <mat-label *ngIf="!emptyRole">Role</mat-label>
            <mat-label *ngIf="emptyRole" class="red">
                Select a role
            </mat-label>
            <mat-select name="select" [(ngModel)]="roleChosen">
              <mat-option *ngFor="let role of roles" [value]="role">
                {{role}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label *ngIf="!emptyDiscord">
                Discord name
            </mat-label>
            <mat-label *ngIf="emptyDiscord" class="red">
                Enter your discord name
            </mat-label>
            <mat-label *ngIf="tooLongDiscord"
            class="red">
               Max. 20 characters
           </mat-label>
           <div style="position: relative;">
            <input type="text" matInput placeholder="" name="userName" [(ngModel)]="discordEntered"
            autocomplete="off">
            </div>
        </mat-form-field>
    <!--<img class="discordIcon" src="assets\discordImage.png">-->
        <br>
        <div *ngIf="wrongPicture">
        <mat-label class="red">
            Make sure the file is an image
        </mat-label>
        <br>
        </div>
        <label id="custom-file-upload-label" class="custom-file-upload" for="imgInp" color="primary">
            Profile picture    
        </label>
        <input id="imgInp" type="file" name="file" accept="image/*" (change)="onFileChanged($event)">
        <br>
        <div *ngIf="showImage == true">
            <img class="profilePicDisplay" src={{profilePicDisplay}}/>
        </div>
    </form>
    </div>
    <div class="horizontal-center">
        <br>
        <mat-divider></mat-divider>
        <br>
        <button mat-flat-button color="primary" type="button" class="cancel" (click)="cancel()"> 
        Cancel 
        </button> 
        <button 
        mat-flat-button color="accent" type="button" class="register" (click)="register()"> 
        Register 
        </button>
    </div>   
</div>

<div *ngIf="componentState==4" class="horizontal-center">
    <h2>Failed to register a new user :c</h2>
    <hr>

    <h3>Something went wrong. Make sure your email is correct and the password safe.</h3>
    <br>
    <mat-divider></mat-divider>
    <button mat-flat-button color="accent" type="button" (click)="onReturnToHomeClicked()" >Return to home screen</button>
</div>

<div *ngIf="componentState==5" class="horizontal-center">
    <h2>You have been registered succesfully!</h2>
    <hr>

    <h3>Welcome {{userNameEntered}}!. You can now return to the home screen and log in to access extra features c: </h3>
    <br>
    <mat-divider></mat-divider>
    <button mat-flat-button color="accent" type="button" (click)="onReturnToHomeClicked()" >Return to home screen</button>
</div>
